<style>
 p,h1
 {
     color: white ; 
 }
</style>
<body style="background-color:#101010">
<h1>Patch Note : </h1>
<p> - list product design .</p>
<p> - u can add price and description to ur product .</p>
<p> - u can see details of all products .</p>
</body>